.review_rating_stars {
    text-align: left;
}
.review_rating_stars ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
.review_rating_stars ul li {
    display: block;
    float: left;
}

.review_rating_stars ul li a,
.review_rating_stars ul li a:focus {
    background-image: url("../image/star_unchecked.png");
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 39px 37px;
    color: #999999;
    display: block;
    font-size: 10px;
    line-height: 12px;
    min-width: 39px;
    padding: 37px 5px 0;
    text-decoration: none;
}
.review_rating_stars ul li a:hover,
.review_rating_stars ul li a:active {
    color: #333333;
    text-decoration: none;
}
.review_rating_stars ul li a.review_rating_star_selected,
.review_rating_stars ul li a.review_rating_star_selected:focus,
.review_rating_stars ul li a.review_rating_star_selected:hover,
.review_rating_stars ul li a.review_rating_star_selected:active {
    background-image: url("../image/star_checked.png");
}


.selected_star_1 ul li:nth-child(1) a,
.selected_star_1 ul li:nth-child(1) a:focus,
.selected_star_1 ul li:nth-child(1) a:hover,
.selected_star_1 ul li:nth-child(1) a:active {
    background-image: url("../image/star_checked.png");
}
.selected_star_1 ul li:nth-child(2) a,
.selected_star_1 ul li:nth-child(2) a:focus,
.selected_star_1 ul li:nth-child(2) a:hover,
.selected_star_1 ul li:nth-child(2) a:active,
.selected_star_1 ul li:nth-child(3) a,
.selected_star_1 ul li:nth-child(3) a:focus,
.selected_star_1 ul li:nth-child(3) a:hover,
.selected_star_1 ul li:nth-child(3) a:active,
.selected_star_1 ul li:nth-child(4) a,
.selected_star_1 ul li:nth-child(4) a:focus,
.selected_star_1 ul li:nth-child(4) a:hover,
.selected_star_1 ul li:nth-child(4) a:active,
.selected_star_1 ul li:nth-child(5) a,
.selected_star_1 ul li:nth-child(5) a:focus,
.selected_star_1 ul li:nth-child(5) a:hover,
.selected_star_1 ul li:nth-child(5) a:active {
    background-image: url("../image/star_unchecked.png");
}
.selected_star_2 ul li:nth-child(1) a,
.selected_star_2 ul li:nth-child(1) a:focus,
.selected_star_2 ul li:nth-child(1) a:hover,
.selected_star_2 ul li:nth-child(1) a:active,
.selected_star_2 ul li:nth-child(2) a,
.selected_star_2 ul li:nth-child(2) a:focus,
.selected_star_2 ul li:nth-child(2) a:hover,
.selected_star_2 ul li:nth-child(2) a:active {
    background-image: url("../image/star_checked.png");
}
.selected_star_2 ul li:nth-child(3) a,
.selected_star_2 ul li:nth-child(3) a:focus,
.selected_star_2 ul li:nth-child(3) a:hover,
.selected_star_2 ul li:nth-child(3) a:active,
.selected_star_2 ul li:nth-child(4) a,
.selected_star_2 ul li:nth-child(4) a:focus,
.selected_star_2 ul li:nth-child(4) a:hover,
.selected_star_2 ul li:nth-child(4) a:active,
.selected_star_2 ul li:nth-child(5) a,
.selected_star_2 ul li:nth-child(5) a:focus,
.selected_star_2 ul li:nth-child(5) a:hover,
.selected_star_2 ul li:nth-child(5) a:active {
    background-image: url("../image/star_unchecked.png");
}
.selected_star_3 ul li:nth-child(1) a,
.selected_star_3 ul li:nth-child(1) a:focus,
.selected_star_3 ul li:nth-child(1) a:hover,
.selected_star_3 ul li:nth-child(1) a:active,
.selected_star_3 ul li:nth-child(2) a,
.selected_star_3 ul li:nth-child(2) a:focus,
.selected_star_3 ul li:nth-child(2) a:hover,
.selected_star_3 ul li:nth-child(2) a:active,
.selected_star_3 ul li:nth-child(3) a,
.selected_star_3 ul li:nth-child(3) a:focus,
.selected_star_3 ul li:nth-child(3) a:hover,
.selected_star_3 ul li:nth-child(3) a:active {
    background-image: url("../image/star_checked.png");
}
.selected_star_3 ul li:nth-child(4) a,
.selected_star_3 ul li:nth-child(4) a:focus,
.selected_star_3 ul li:nth-child(4) a:hover,
.selected_star_3 ul li:nth-child(4) a:active,
.selected_star_3 ul li:nth-child(5) a,
.selected_star_3 ul li:nth-child(5) a:focus,
.selected_star_3 ul li:nth-child(5) a:hover,
.selected_star_3 ul li:nth-child(5) a:active {
    background-image: url("../image/star_unchecked.png");
}
.selected_star_4 ul li:nth-child(1) a,
.selected_star_4 ul li:nth-child(1) a:focus,
.selected_star_4 ul li:nth-child(1) a:hover,
.selected_star_4 ul li:nth-child(1) a:active,
.selected_star_4 ul li:nth-child(2) a,
.selected_star_4 ul li:nth-child(2) a:focus,
.selected_star_4 ul li:nth-child(2) a:hover,
.selected_star_4 ul li:nth-child(2) a:active,
.selected_star_4 ul li:nth-child(3) a,
.selected_star_4 ul li:nth-child(3) a:focus,
.selected_star_4 ul li:nth-child(3) a:hover,
.selected_star_4 ul li:nth-child(3) a:active,
.selected_star_4 ul li:nth-child(4) a,
.selected_star_4 ul li:nth-child(4) a:focus,
.selected_star_4 ul li:nth-child(4) a:hover,
.selected_star_4 ul li:nth-child(4) a:active {
    background-image: url("../image/star_checked.png");
}
.selected_star_4 ul li:nth-child(5) a,
.selected_star_4 ul li:nth-child(5) a:focus,
.selected_star_4 ul li:nth-child(5) a:hover,
.selected_star_4 ul li:nth-child(5) a:active {
    background-image: url("../image/star_unchecked.png");
}
.selected_star_5 ul li:nth-child(1) a,
.selected_star_5 ul li:nth-child(1) a:focus,
.selected_star_5 ul li:nth-child(1) a:hover,
.selected_star_5 ul li:nth-child(1) a:active,
.selected_star_5 ul li:nth-child(2) a,
.selected_star_5 ul li:nth-child(2) a:focus,
.selected_star_5 ul li:nth-child(2) a:hover,
.selected_star_5 ul li:nth-child(2) a:active,
.selected_star_5 ul li:nth-child(3) a,
.selected_star_5 ul li:nth-child(3) a:focus,
.selected_star_5 ul li:nth-child(3) a:hover,
.selected_star_5 ul li:nth-child(3) a:active,
.selected_star_5 ul li:nth-child(4) a,
.selected_star_5 ul li:nth-child(4) a:focus,
.selected_star_5 ul li:nth-child(4) a:hover,
.selected_star_5 ul li:nth-child(4) a:active,
.selected_star_5 ul li:nth-child(5) a,
.selected_star_5 ul li:nth-child(5) a:focus,
.selected_star_5 ul li:nth-child(5) a:hover,
.selected_star_5 ul li:nth-child(5) a:active {
    background-image: url("../image/star_checked.png");
}

.hover_star_1 ul li:nth-child(1) a,
.hover_star_1 ul li:nth-child(1) a:focus,
.hover_star_1 ul li:nth-child(1) a:hover,
.hover_star_1 ul li:nth-child(1) a:active {
    background-image: url("../image/star_checked.png");
}
.hover_star_1 ul li:nth-child(2) a,
.hover_star_1 ul li:nth-child(2) a:focus,
.hover_star_1 ul li:nth-child(2) a:hover,
.hover_star_1 ul li:nth-child(2) a:active,
.hover_star_1 ul li:nth-child(3) a,
.hover_star_1 ul li:nth-child(3) a:focus,
.hover_star_1 ul li:nth-child(3) a:hover,
.hover_star_1 ul li:nth-child(3) a:active,
.hover_star_1 ul li:nth-child(4) a,
.hover_star_1 ul li:nth-child(4) a:focus,
.hover_star_1 ul li:nth-child(4) a:hover,
.hover_star_1 ul li:nth-child(4) a:active,
.hover_star_1 ul li:nth-child(5) a,
.hover_star_1 ul li:nth-child(5) a:focus,
.hover_star_1 ul li:nth-child(5) a:hover,
.hover_star_1 ul li:nth-child(5) a:active {
    background-image: url("../image/star_unchecked.png");
}
.hover_star_2 ul li:nth-child(1) a,
.hover_star_2 ul li:nth-child(1) a:focus,
.hover_star_2 ul li:nth-child(1) a:hover,
.hover_star_2 ul li:nth-child(1) a:active,
.hover_star_2 ul li:nth-child(2) a,
.hover_star_2 ul li:nth-child(2) a:focus,
.hover_star_2 ul li:nth-child(2) a:hover,
.hover_star_2 ul li:nth-child(2) a:active {
    background-image: url("../image/star_checked.png");
}
.hover_star_2 ul li:nth-child(3) a,
.hover_star_2 ul li:nth-child(3) a:focus,
.hover_star_2 ul li:nth-child(3) a:hover,
.hover_star_2 ul li:nth-child(3) a:active,
.hover_star_2 ul li:nth-child(4) a,
.hover_star_2 ul li:nth-child(4) a:focus,
.hover_star_2 ul li:nth-child(4) a:hover,
.hover_star_2 ul li:nth-child(4) a:active,
.hover_star_2 ul li:nth-child(5) a,
.hover_star_2 ul li:nth-child(5) a:focus,
.hover_star_2 ul li:nth-child(5) a:hover,
.hover_star_2 ul li:nth-child(5) a:active {
    background-image: url("../image/star_unchecked.png");
}
.hover_star_3 ul li:nth-child(1) a,
.hover_star_3 ul li:nth-child(1) a:focus,
.hover_star_3 ul li:nth-child(1) a:hover,
.hover_star_3 ul li:nth-child(1) a:active,
.hover_star_3 ul li:nth-child(2) a,
.hover_star_3 ul li:nth-child(2) a:focus,
.hover_star_3 ul li:nth-child(2) a:hover,
.hover_star_3 ul li:nth-child(2) a:active,
.hover_star_3 ul li:nth-child(3) a,
.hover_star_3 ul li:nth-child(3) a:focus,
.hover_star_3 ul li:nth-child(3) a:hover,
.hover_star_3 ul li:nth-child(3) a:active {
    background-image: url("../image/star_checked.png");
}
.hover_star_3 ul li:nth-child(4) a,
.hover_star_3 ul li:nth-child(4) a:focus,
.hover_star_3 ul li:nth-child(4) a:hover,
.hover_star_3 ul li:nth-child(4) a:active,
.hover_star_3 ul li:nth-child(5) a,
.hover_star_3 ul li:nth-child(5) a:focus,
.hover_star_3 ul li:nth-child(5) a:hover,
.hover_star_3 ul li:nth-child(5) a:active {
    background-image: url("../image/star_unchecked.png");
}
.hover_star_4 ul li:nth-child(1) a,
.hover_star_4 ul li:nth-child(1) a:focus,
.hover_star_4 ul li:nth-child(1) a:hover,
.hover_star_4 ul li:nth-child(1) a:active,
.hover_star_4 ul li:nth-child(2) a,
.hover_star_4 ul li:nth-child(2) a:focus,
.hover_star_4 ul li:nth-child(2) a:hover,
.hover_star_4 ul li:nth-child(2) a:active,
.hover_star_4 ul li:nth-child(3) a,
.hover_star_4 ul li:nth-child(3) a:focus,
.hover_star_4 ul li:nth-child(3) a:hover,
.hover_star_4 ul li:nth-child(3) a:active,
.hover_star_4 ul li:nth-child(4) a,
.hover_star_4 ul li:nth-child(4) a:focus,
.hover_star_4 ul li:nth-child(4) a:hover,
.hover_star_4 ul li:nth-child(4) a:active {
    background-image: url("../image/star_checked.png");
}
.hover_star_4 ul li:nth-child(5) a,
.hover_star_4 ul li:nth-child(5) a:focus,
.hover_star_4 ul li:nth-child(5) a:hover,
.hover_star_4 ul li:nth-child(5) a:active {
    background-image: url("../image/star_unchecked.png");
}
.hover_star_5 ul li:nth-child(1) a,
.hover_star_5 ul li:nth-child(1) a:focus,
.hover_star_5 ul li:nth-child(1) a:hover,
.hover_star_5 ul li:nth-child(1) a:active,
.hover_star_5 ul li:nth-child(2) a,
.hover_star_5 ul li:nth-child(2) a:focus,
.hover_star_5 ul li:nth-child(2) a:hover,
.hover_star_5 ul li:nth-child(2) a:active,
.hover_star_5 ul li:nth-child(3) a,
.hover_star_5 ul li:nth-child(3) a:focus,
.hover_star_5 ul li:nth-child(3) a:hover,
.hover_star_5 ul li:nth-child(3) a:active,
.hover_star_5 ul li:nth-child(4) a,
.hover_star_5 ul li:nth-child(4) a:focus,
.hover_star_5 ul li:nth-child(4) a:hover,
.hover_star_5 ul li:nth-child(4) a:active,
.hover_star_5 ul li:nth-child(5) a,
.hover_star_5 ul li:nth-child(5) a:focus,
.hover_star_5 ul li:nth-child(5) a:hover,
.hover_star_5 ul li:nth-child(5) a:active {
    background-image: url("../image/star_checked.png");
}
